extends layout 

block page_titre
    title Page 404 introuvable
block page_meta
    meta(name="description" value="Page 404 introuvable")
block page_contenu
    h1.bg-warning.display-4.mt-3.p-4.text-center Page 404 <small> produit introuvable</small>
