extends layout 

block page_titre
    title Bienvenu sur le Dashboard du Back Office
block page_meta
    meta(name="description" value="Bienvenu sur le Dashboard du Back Office")
block page_contenu
    h1.text-center Back Office
    
    script(src="admin.js")