extends layout 

block page_titre
    title Front office Accueil
block page_meta
    meta(name="description" value="page d'accueil")
block page_contenu
    h1 Bienvenu sur la page d'accueil
    p Lorem ipsum dolor sit amet consectetur adipisicing elit. Et, impedit?