.bg-dark
    nav.navbar.navbar-expand.navbar-dark.px-2.container
        a.navbar-brand(href="/") Front 
        ul.navbar-nav 
            li.nav-item 
                a(href="/" class="nav-link") Accueil
            li.nav-item 
                a(href="/creer-user" class="nav-link") Créer compte user
        ul.navbar-nav.ms-auto
            li.nav-item.deconnexion 
                a(href="/connexion" class="nav-link") Connexion
            li.nav-item.connexion
                a(href="/admin" class="nav-link") Admin
            li.nav-item.connexion
                a(href="/deconnexion" class="nav-link") Déconnexion
script(src="menu-top.js") 