nav.navbar.navbar-expand.bg-dark.navbar-dark.px-2
    a.navbar-brand(href="/") Front 
    ul.navbar-nav 
        li.nav-item 
            a(href="/" class="nav-link") Accueil
        li.nav-item 
            a(href="/creer-user" class="nav-link") Créer compte user
    ul.navbar-nav.ms-auto
        li.nav-item 
            a(href="/connexion" class="nav-link") Connexion